body {
  background-color: #f5d7af;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.main-content {
  display: flex;
  max-width: 1200px;
  margin-top: 20px;
}

.container {
  background-color: #fcd5a6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 20px;
}

.container h1 {
  color: #3a007d;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-size: 1em;
  margin-bottom: 10px;
}

.form input[type="text"] {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #3a007d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #5a00a8;
}

.sidebar {
  background-color: #fcd5a6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.article {
  background-color: #fcd5a6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.article h2 {
  margin: 0;
  font-size: 1.1em;
}

.article p {
  margin: 10px 0;
  font-size: 0.9em;
}

.article a {
  text-decoration: none;
  color: #3a007d;
  font-size: 0.9em;
}

.article a:hover {
  text-decoration: underline;
}